<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="/socket.io/socket.io.js"></script>
</head>

<body>
    <div id="registerPanel">
        <input type="text" ,placeholder="이름을 입력하세요">
        <input type="password" ,placeholder="비밀번호를 입력하세요">
        <input type="text" , placeholder="이메일을 입력하세요">
        <button id="btnRegister">회원가입</button>
    </div>
    <script>
        let socket = new io();
        const Iname = document.querySelector("#registerPanel>input:nth-child(1)");
        const Ipass = document.querySelector("#registerPanel>input:nth-child(2)");
        const Iemail = document.querySelector("#registerPanel>input:nth-child(3)");

        document.querySelector("#btnRegister").addEventListener("click", e => {
            socket.emit("register", {
                name: Iname.value,
                pass: Ipass.value,
                email: Iemail.value
            })
        })

        socket.on("msg", data => {
            alert(data.msg);
        });
        //회원가입 버튼을 누르면 이름, 비밀번호, 이메일을 받아서
        // socket을 통해 register란 신호로 쏴준다.
        // cons
    </script>
</body>

</html>